@media all and (min-width:1200px){
    .main-wrapper{
        min-width:1060px;
    }
}
@media all and (min-width:992px) and (max-width:1199px)
{
    .main-wrapper{
        width:83%;
        max-width:802px;
    }

    .right-tile{
        margin-right:10px;
    }
}

@media all and (min-width:768px) and (max-width:991px)
{
    .main-wrapper{
        width:660px;
    }
    
    .medium-div{
        width:100%;
        margin:0 0 10px 0;
    }

    .small-div{
        min-width:325px;
        
    }

    .second-tile{
    margin-right:0;
    }

}

@media all and (max-width:767px) and (min-width:480px){
    header{
        text-align:center;
    }
    #logo{
        float:none;
        margin-left:0;
    }

    #subscribe-wrapper{
        width:372px;
        float:none;
        margin:0 auto 10px auto;
    }
    .main-wrapper{
        width:450px;
    }
   
    .medium-div{
        width:100%;
        min-width:450px;
        margin:0 0 10px 0;
    }
    
    .small-div{
        width:220px;
    }
    .second-tile{
    margin-right:0;
    }

    #mixpanel-section article{
    min-height:415px;
    }
}

@media all and (max-width:479px) and (min-width:320px){
     header{
        text-align:center;
    }
    #logo{
        float:none;
        margin-left:0;
    }

    #subscribe-wrapper{
        width:372px;
        float:none;
        margin:0 auto 10px auto;
    }
    .main-wrapper{
        width:370px;
    }
   
    .medium-div{
        width:100%;
        min-width:370px;
        margin:0 0 10px 0;
    }
    
    .small-div{
        width:370px;
    }
    .second-tile{
    margin-right:0;
    }

    #mixpanel-section article{
    min-height:452px;
    }

}

@media all and  (max-width:319px){
    header{
        text-align:center;
    }
    #logo{
        float:none;
        margin-left:0;
    }
     #subscribe-wrapper{
        width:250px;
        float:none;
        margin:0 auto 10px auto;
    }

    #subscribe-wrapper span{
        width:100px;
    }
    #input{
        font-size:12px;
    }
    .main-wrapper{
        width:260px;
    }
   
    .medium-div{
        width:100%;
        min-width:260px;
        margin:0 0 10px 0;
    }
    
    .small-div{
        width:260px;
    }
    .second-tile{
    margin-right:0;
    }

    #mixpanel-section article{
    min-height:452px;
    }

}
