/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Global styles*/

@font-face{
    font-family:"robotoBlack-Bold";
    src:url("fonts/Roboto-Bold.ttf");
}
@font-face{
    font-family:"robotoBlack-semibold";
    src:url("fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family:"robotoBlack-regular";
    src:url("fonts/Roboto-Regular.ttf");
}

*:after{
    margin:0;
    padding:0;
}
*:before{
    margin:0;
    padding:0;
}

a,ul{
    text-decoration:none;
    color:white;
}

body{
    width:100%;
    background:#3F406c;
    font-family:"robotoBlack-regular";
    color:white;
}
img{
width:100%;
}

h1,h2,h3,h4,h5,h6{
    font-family:"robotoBlack-Bold";
    line-height:1.2;
    margin:10px 0;
}

h1{
    font-size:30px;
}

h2{
    font-size:25px;
}

h3{
    font-size:20px;
}

h4{
    font-size:15px;
}

h5{
    font-size:12px;
}

h6{
    font-size:10px;
}

p{
    font-size:16px;
    color:#B2B7DF;
    text-align:left;
    
}

.ctgry-title{
color:#B2B7DF;
}

.yellow{
    color:#FAC918;
}

.pink{
    color:#FB8F9F;
}

.blue{
    color:#30C1CD;
}

.clearfix{
    clear:both;
}

/* responsive grid style */

.medium-div{
    width:49%;
    margin:1% 1% 1% 0;
}

.large-div{
    width:100%;
    margin:1% 0;
}

.small-div{
    width:24%;
    margin:1% 1% 1% 0;
}
.tile{
    display:inline-block;
    float:left;
}
.tile:after{
    clear:both;
}
/* page styles*/

header{
    background:#52557E;
    width:100%;
    overflow:hidden;
    font-size:12px;
}

.circle{
    border-radius:100px;
    background:white;
    margin:0 4px;
    float:left;
}

.big-circle{
    display:inline-block;
    width:10px;
    height:10px;
}

.medium-circle{
    display:inline-block;
    width:5px;
    height:5px;
    margin-top:2px;
}

.small-circle{
    display:inline-block;
    width:2px;
    height:2px;
    margin-top:4px;
}
#logo{
    float:left;
    padding:7px 0 15px 20px;
}

.circle-wrapper{
    display:inline-block;
    padding-top:10px;
}
#subscribe-wrapper{
    float:right;
    background:#5A5F89;
}
#subscribe-wrapper span{
    display:inline-block;
    float:left;
    position:relative;
    top:20px;
    padding-left:20px;
    width:250px;
}
#subscribe-wrapper a{
    background:url("images/check.gif");
    display:inline-block;
    width:50px;
    height:50px;
}

.main-wrapper{
    max-width:1300px;
    width:80%;
    margin:auto;
    padding:50px 0 50px 0;
    overflow:hidden;
    
}

.main-wrapper article{
    background:#5A5F89;
    padding:20px 10px;
}

.avatar,.time{
    display:inline-block;
    margin-right:20px;
}
.avatar:before{
    content:"";
    background:url("images/avatar.gif") center no-repeat;
    background-size:12px;
    width:15px;
    height:14px;
    display:inline-block;
    margin-right:10px;
}

.time:before{
    content:"";
    background:url("images/clock.gif") center no-repeat;
    background-size:12px;
    width:15px;
    height:14px;
    display:inline-block;
    margin-right:10px;
}
.image-div{
height:155px;
width:100%;
}
#OfficeHour-section .image-div{
    background:url("images/officeHours.gif") center no-repeat;
    background-size:cover;
}
#libraryUpdate-section .image-div{
    background:url("images/libraryImg.gif") center no-repeat;
    background-size:cover;
}
#cultureTeam-section .image-div{
    background:url("images/culturalTeam.gif") center no-repeat;
    background-size:cover;
}
#video-section .image-div{
    background:url("images/videoImage.gif") center no-repeat;
    background-size:cover;
}
#productLaunch-section .image-div{
    background:url("images/productLaunch.gif") center no-repeat;
    background-size:cover;
}

#face-section .image-div{
    background:url("images/face.gif") center no-repeat;
    background-size:cover;
}
#trend-section .image-div{
    background:url("images/trend.gif") center no-repeat;
    background-size:cover;
}
.ddc-section .image-div{
    background:url("images/ddc.gif") center no-repeat;
    background-size:cover;
}
.button{
background:#b2b7df;
border-radius:2px;
display:inline-block;
font-size:10px;
padding:10px;
}
